name: SubPushToGist

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

jobs:
  update-gist:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sub branch
        uses: actions/checkout@v4
        with:
          ref: sub

      - name: Push Directory to Gist
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.GIST_TOKEN }}
          script: |
            const fs = require('fs');
            const path = require('path');
            const targetDir = './open';
            const files = {};
            const dirFiles = fs.readdirSync(targetDir);

            dirFiles.forEach(fileName => {
              const filePath = path.join(targetDir, fileName);
              if (fs.lstatSync(filePath).isFile()) {
                const content = fs.readFileSync(filePath, 'utf8');
               files[fileName] = { content: content };
              }
            });

            if (Object.keys(files).length === 0) {
              core.setFailed("未找到可推送的文件");
              return;
            }

            await github.rest.gists.update({
              gist_id: '${{ secrets.GIST_ID }}',
              files: files
            });
            console.log(`成功推送了 ${Object.keys(files).length} 个文件`);
